.widget {
  height: 150px;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  padding: 1rem;
  display: flex;
  flex: 1;
  justify-content: space-between;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: #999;
      font-weight: 700;
    }
    .counter {
      font-size: 2.5rem;
      font-weight: 300;
    }
    .link {
      font-size: 0.9rem;
      font-weight: 500;
      border-bottom: 1px solid #d3d3d3;
      color: #999;
      width: max-content;
      cursor: pointer;
    }
    .percentage {
      font-size: 1.5rem;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      font-size: 1.5rem;
      padding: 0.3rem;
      border-radius: 0.4rem;
      align-self: flex-end;
    }
  }
}
