.navbar {
  height: 3rem;
  border-bottom: 0.5px solid #d3d3d3;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid #d3d3d3;
      padding: 0.3rem 0.8rem;
      border-radius: 0.25rem;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          font-size: 0.8rem;
        }
      }
    }
    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin: 1rem;
        position: relative;
        cursor: pointer;

        .avatar {
          height: 2rem;
          width: 2rem;
          border-radius: 100%;
        }
        .icon {
          font-size: 1.2rem;
          margin-right: 0.2rem;
        }

        .counter {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1rem;
          width: 1rem;
          font-size: 0.8rem;
          font-weight: bold;
          border-radius: 50%;
          background-color: red;
          color: white;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
